body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.2em;
    font-family: "Source Sans Pro";
    color: #2d3c49;
}

.box {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
/* header*/
.logo {
    width: 17%;
    height: 17%;
    border-radius: 50%;
    align-self: center;
}

.info {
    width: 75%;
    text-align: right;
}
.name {
    font-size: 170%;
}
.line {
    border: none;
    height: 5px;
    background-color: #7d97ad;
    margin: 0;
    padding: 0;
}
/* main image */
.main-image {
    margin-top: 25px;
}

/* main content*/
.head {
    text-align: center;
    font-size: 30px;
    color: #7d97ad;
}

.project {
    text-align: center;
    margin-bottom: 5%;
}

.project-image {
    width: 80%;
    height: 70%;
}

.project-link {
    font-size: 12px;
}